<h1 class="ui header">キャラクターカレンダー</h1>

<div>
    <%= link_to "キャラクター一覧へ", characters_path =%>
</div>


<%= month_calendar do |date| %>
  <%= date.day %>

  <%# 誕生日のキャラクター名を表示 %>
  <% @characters.each do |character| %>
    <% if character.month == date.month && character.day == date.day %>
      <div><%= character.name %></div>
    <% end %>
  <% end %>
<% end %>
